
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // Helper Functions
    function isSignedIn() {
      return request.auth != null;
    }
    
    function isAdmin() {
      return request.auth.token.email == 'admin@drivewise.com';
    }

    match /llr_applications/{llraId} {
      allow get, list: if isAdmin() || (isSignedIn() && request.auth.uid == resource.data.applicantId);
      allow create: if isSignedIn();
      allow update, delete: if isSignedIn() && request.auth.uid == resource.data.applicantId;
    }

    match /users/{userId} {
      // An admin can do anything to any user document.
      allow read, write: if isAdmin();
      
      // A regular, signed-in user can only read and update their *own* document.
      // They cannot create or delete user documents.
      allow read, update: if request.auth.uid == userId && !isAdmin();
    }
  }
}
